:root {
  background-color: black;
  color: white;
}

html {
  overflow-x: hidden;
  scrollbar-color: #111 #000;
	overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  padding: 32px;
  margin: 0;
  display: flex;
  /* place-items: center; */
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

#app {
	max-width: calc(min((256px + (4px * 2)) * 3, 100vw - 24px));
	width: calc((256px + (4px * 2)) * 3);
  min-height: 600px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  position: relative;
}