:root {
  color: white;
}

html {
  overflow-x: hidden;
  scrollbar-color: #111 #000;
	overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}